<!-- trip/templates/trip/edit_trip.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Trip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'trip/styles.css' %}" type="text/css">
</head>
<body>
    <h1>Edit Trip</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add-trip-button">Update Trip</button>
    </form>
    <br>
    <a href="{% url 'home' %}" class="add-trip-button">Back to Home</a>
</body>
</html>
